.temp-icon {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
    background-image: url("../images/Icon-Temp.svg");
}

.active {
    .temp-icon {
        background-image: url("../images/Icon-Temp-Active.svg");
    }

    &.temp-icon {
        background-image: url("../images/Icon-Temp-Active.svg");
    }
}

ul.menubar { 
    padding-left: 0 !important;
}