<template>

    <b-form id="pending-inventory-form" @submit="onSubmit" @reset="onReset" v-if="points">

        <b-toast id="mcs-form-notifier" header-class="d-none" body-class="toast-dark d-flex justify-content-between"
            toaster="b-toaster-bottom-right">
            {{ saveResult }}
            <a href="javascript:;" class="text-success ml-2" @click="$bvToast.hide('bottom-right-toast')">DISMISS</a>
        </b-toast>

        <b-card class="peyd-cards">
            <b-card-title title-tag="h3">
                Pending Inventory <span v-if="points.id">( 335{{ points . id }}D )</span> <span
                    v-if="points.contact_name">{{ points . contact_name }}</span>
            </b-card-title>
            <b-card-text>
                <div class="row mb-4">
                    <div class="col-sm">
                        <b-form-group label="Date Recorded">
                            <b-input size="sm" placeholder="Date Recorded" v-model="points.created_at"
                                disabled></b-input>
                        </b-form-group>
                    </div>
                    <div class="col-sm">
                        <b-form-group label="Type">
                            <b-input size="sm" placeholder="Type" v-model="points.type"></b-input>
                        </b-form-group>
                    </div>
                    <div class="col-sm">
                        <b-form-group label="Total Bought">
                            <b-input size="sm" placeholder="Total Bought" v-model="points.total_bought"></b-input>
                        </b-form-group>
                    </div>
                    <div class="col-sm">
                        <b-form-group label="Buy Rate">
                            <b-input size="sm" placeholder="Buy Rate" v-model="points.buy_rate"></b-input>
                        </b-form-group>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm">
                        <b-form-group label="Sales Agent">
                            <b-input size="sm" placeholder="Sales Agent" v-model="points.sales_agent"></b-input>
                        </b-form-group>
                    </div>
                    <div class="col-sm">
                        <b-form-group label="P/PWP/PWU">
                            <b-input size="sm" placeholder="P/PWP/PWU" v-model="points.p_pwp_pwu"></b-input>
                        </b-form-group>
                    </div>
                    <div class="col-sm">
                        <b-form-group label="Can use extra">
                            <b-input size="sm" placeholder="Can use extra"
                                v-model="points.can_use_extra"></b-input>
                        </b-form-group>
                    </div>
                    <div class="col-sm">
                        <b-form-group label="Acct Total">
                            <b-input size="sm" placeholder="Acct Total" v-model="points.account_total"></b-input>
                        </b-form-group>
                    </div>
                </div>
            </b-card-text>
        </b-card>

        <b-card class="peyd-cards">
            <b-card-title title-tag="h5">
                Account Information
            </b-card-title>
            <b-card-text>
                <div class="row mb-4">
                    <div class="col-sm">
                        <b-form-group label="User Name">
                            <b-input size="sm" placeholder="User Name" v-model="meta.user_name"></b-input>
                        </b-form-group>
                    </div>
                    <div class="col-sm">
                        <b-form-group label="Password">
                            <b-input size="sm" placeholder="Password" v-model="meta.password"></b-input>
                        </b-form-group>
                    </div>
                    <div class="col-sm">
                        <b-form-group label="Account Email">
                            <b-input size="sm" placeholder="Account Email" v-model="meta.account_email"></b-input>
                        </b-form-group>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-sm">
                        <b-form-group label="Contact Number">
                            <b-input size="sm" placeholder="Contact Number"
                                v-model="meta.account_number"></b-input>
                        </b-form-group>
                    </div>
                    <div class="col-sm">
                        <b-form-group label="Contact Email">
                            <b-input size="sm" placeholder="Contact Email" v-model="meta.contact_email"></b-input>
                        </b-form-group>
                    </div>
                    <div class="col-sm">
                        <b-form-group label="On File">
                            <b-input size="sm" placeholder="On File" v-model="meta.on_file"></b-input>
                        </b-form-group>
                    </div>
                    <div class="col-sm">
                        <b-form-group label="Fast Pay">
                            <b-input size="sm" placeholder="Fast Pay" v-model="meta.fast_pay"></b-input>
                        </b-form-group>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-sm-6">
                        <b-form-group label="Address">
                            <b-input size="sm" placeholder="Address" v-model="meta.address"></b-input>
                        </b-form-group>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-sm">
                        <b-form-group label="Notes">
                            <b-textarea v-model="meta.notes"></b-textarea>
                        </b-form-group>
                    </div>
                </div>
            </b-card-text>
        </b-card>

        <b-card class="peyd-cards">
            <b-card-title title-tag="h5">
                Account Holder
            </b-card-title>
            <b-card-text>
                <div class="row mb-4">
                    <div class="col-sm">
                        <b-form-group label="First Name">
                            <b-input size="sm" placeholder="First Name"
                                v-model="meta.acct_holder_first_name"></b-input>
                        </b-form-group>
                    </div>
                    <div class="col-sm">
                        <b-form-group label="Last Name">
                            <b-input size="sm" placeholder="Last Name"
                                v-model="meta.acct_holder_last_name"></b-input>
                        </b-form-group>
                    </div>
                    <div class="col-sm">
                        <b-form-group label="Contact Number">
                            <b-input size="sm" placeholder="Contact Number"
                                v-model="meta.acct_holder_contact_number"></b-input>
                        </b-form-group>
                    </div>
                    <div class="col-sm">
                        <b-form-group label="Contact Email">
                            <b-input size="sm" placeholder="Contact Email"
                                v-model="meta.acct_holder_contact_email"></b-input>
                        </b-form-group>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm">
                        <b-form-group label="Address">
                            <b-input size="sm" placeholder="Address"
                                v-model="meta.acct_holder_address"></b-input>
                        </b-form-group>
                    </div>
                    <div class="col-sm">
                        <b-form-group label="CC Info">
                            <b-input size="sm" placeholder="CC Number"
                                v-model="meta.acct_holder_cc_number"></b-input>
                        </b-form-group>
                    </div>
                    <div class="col-sm">
                        <b-form-group label="Expiry">
                            <b-input size="sm" placeholder="Expiry"
                                v-model="meta.acct_holder_cc_expiry"></b-input>
                        </b-form-group>
                    </div>
                    <div class="col-sm">
                        <b-form-group label="CC Billing Address">
                            <b-input size="sm" placeholder="CC Billing Address"
                                v-model="meta.acct_holder_cc_billing_address"></b-input>
                        </b-form-group>
                    </div>
                </div>
            </b-card-text>
        </b-card>

    </b-form>

</template>

<script>
    import axios from 'axios';

    export default {
        name: "PendingInventoryForm",
        props: ['jsonSrc', 'apiSrc'],
        data() {
            return {
                points: {},
                meta: {},
                saveTimeout: null,
                show: true,
                saveResult: 'Saved'
            }
        },
        watch: {},
        mounted() {
            console.log("Pending Inventory Form");
            try {
                if (!this.jsonSrc) return;
                this.points = JSON.parse(this.jsonSrc);
                console.log("points", this.points)

                // pluck points.meta key and value
                let pluckedMeta = this.points.meta.map(item => ({
                    [item.key]: item.value
                }));
                this.meta = pluckedMeta.reduce((acc, cur) => Object.assign(acc, cur), {});

                console.log(this.meta);

                // each point key except 'meta' set an observer
                Object.keys(this.points).forEach(key => {
                    // console.log("key", key)
                    if (key !== 'meta') {
                        this.$watch(`points.${key}`, (newVal, oldVal) => {
                            this.observerHandler(newVal, oldVal, key);
                        });
                    }
                });

                // each meta key set an observer
                Object.keys(this.meta).forEach(key => {
                    console.log("key", key)
                    this.$watch(`meta.${key}`, (newVal, oldVal) => {
                        this.observerHandler(newVal, oldVal, key, true);
                    });
                });

            } catch (error) {
                console.error('Failed to parse src:', error);
            }
        },

        methods: {
            observerHandler(newVal, oldVal, key, isMeta = false) {
                clearTimeout(this.saveTimeout);
                this.saveTimeout = setTimeout(() => {
                    axios.put(this.apiSrc, {
                            key: key,
                            value: newVal,
                            isMeta: isMeta
                        })
                        .then(response => {
                            console.log("response", response.data);
                            // Open toast
                            // ucfirst key
                            key = key.charAt(0).toUpperCase() + key.slice(1);
                            // replace _ with space
                            key = key.replace(/_/g, ' ');

                            this.saveResult = key + " field updated successfully!";
                            this.$bvToast.show('mcs-form-notifier')
                        })
                        .catch(error => {
                            console.error(error);
                        });
                }, 1000); // 2000 ms = 2 seconds
            },
            saveValue(field, newValue) {

            },
            onSubmit(evt) {
                evt.preventDefault()
                alert(JSON.stringify(this.points))
            },
            onReset(evt) {
                evt.preventDefault()
                // Reset our form values
                this.points = {
                    id: 335,
                    contact_name: 'John Doe'
                }
            }
        }
    }
</script>
